footer(style="background-color: #202020;")
  .container-fluid.text-center
    p.float-left.copyright-text(style="color: white;") © 2020 Boston Iron Works, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/terms') Terms Of Use
      li.list-inline-item.text-light |
      li.list-inline-item
        a(href='/privacy') Privacy Policy    
      //- li.list-inline-item.text-light |
      //- li.list-inline-item
      //-   a(href='/contact') Contact Us
      li.list-inline-item.text-light |
      li.list-inline-item
        a(href='/faq') FAQ
