center
  .p-1.icon-column
    a(href="/services/01")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/structural_street_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 1- Structural Street
  .p-1.icon-column
    a(href="/services/02")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
          img.icon-column-image(src="/images/icons/fire_escape_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 2- Fire Escapes
  .p-1.icon-column
    a(href="/services/03")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/metal_deck_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 3- Metal Decks
  .p-1.icon-column
    a(href="/services/04")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/staircase_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 4- Staircase
  .p-1.icon-column
    a(href="/services/05")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/spiral_staircase2_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 5- Spiral Staircase
  .p-1.icon-column
    a(href="/services/06")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/railings_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 6- Railings
  .p-1.icon-column
    a(href="/services/07")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/metal_fence_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 7- Metal Fences
  .p-1.icon-column
    a(href="/services/08")
      div.p-2(style="background:url('/images/Iron_Background.JPG'); height: 160px;display: flex; justify-content: center; align-items: center;")
        img.icon-column-image(src="/images/icons/metal_gates_black.svg" width="90%")
      center(style="background:url('/images/Iron_Background.JPG');")
        b 8- Metal Gates