extends layout

block content
  .container
    
    h2 Frequently Asked Questions
    .m-5

    h4 I&#039;m thinking about an ornamental iron project. What should I do next?	
    p.p-2
      span.text-muted(style='font-family: arial, helvetica, sans-serif; font-size: 12px; text-align: justify;')
        span(style='font-family: arial, helvetica, sans-serif; font-size: 12px; text-align: justify;')
          | Provide us with whatever information you may already have available including pictures of the installation site and&nbsp;pictures of design ideas.&nbsp;&nbsp;The design process can be as simple as you seeing something in our collection of work that&apos;s&nbsp;perfect, or drawing elements from different works to create something uniquely yours.&nbsp; We can typically provide budget numbers based on knowledge of where it&apos;s to be installed as well as a design concept.&nbsp; Once a design is agreed upon, and a down-payment received, fabrication can begin.

    h4 What is the process for contracting with Boston Ironworks?
    .p-2
      p.text-muted Depending on the product or combination of products purchased the process will vary slightly.
      div
        b.text-muted The basic process is as follows:
        br
        div.p-2
          span.text-muted - Initial Contact and/or meeting
          br
          span.text-muted - Proposal is generated
          br
          span.text-muted - Client approves proposal and designs
          br
          span.text-muted - Field Dimensions are taken and fabrication commences
          br
          span.text-muted - Update pictures are sent to client
          br
          span.text-muted - Finishing and painting of products
          br
          span.text-muted - Installation is scheduled and executed
      p.text-muted Boston Ironworks maintains constant communication with the client to ensure confidence and peace of mind.
    
    h4 What materials does Boston Ironworks work with?
    .p-2
      p.text-muted Iron Works is well versed in working with iron, steel, stainless steel, bronze, brass, and copper while incorporating glass and wood. Over 15 years of experience allow us to turn these raw materials into impressive railings, stairways, driveway gates, and entry doors. Design can vary from traditional wrought iron, to dazzling stainless steel rails incorporating glass and wood accents!
    
    h4 What is wrought iron?
    .p-2
      p.text-muted The word “wrought” comes from the verb “work”, wrought iron means “worked iron” or in another word “forged iron”. Historically wrought iron has been worked by blacksmiths, using traditional techniques like hammers and anvils to make high end 'Decorative Wrought Ironwork'.
    
    h4 What is cast iron?
    .p-2
      p.text-muted Cast iron usually refers to grey cast iron. It tends to be brittle and hard on surface because of high carbon content (about 3% whereas 0.15% in wrought iron). Cast iron is made by remelting pig iron, often along with substantial quantities of scrap iron and scrap steel. After melting is complete, the molten iron is poured into shaping moulds. So once moulds is ready, mass production is possible.