extends layout

block content
  img(src="/images/breadcrumbs.jpg", width="100%")
  .container.p-4
    h2 Our Team
    .p-4
      p.text-muted Our team of professionals is uniquely qualified to design, fabricate, and install the simplest pedestrian gate to the most elaborate vehicular entryway.
      p.text-muted Boston Iron Works is a recognized leader in the design and fabrication of iron works. For almost 100 years they have provided a wide range of quality services to business and residential customers in Boston and New England.
      p.text-muted In that time they have built a reputation for excellence in service, quality, and safety. The company has grown with the city, and as the iron works needs of Boston and New England have changed and expanded, so have the service offerings of Boston Iron Works. In addition to the custom fabrication and maintenance of gates, fences, railings, and stairs systems, the company provides fire escape certification, inspection, maintenance, and repair. These and other service offerings meet or exceed OSHA health and safety regulations. Contact Boston Iron Works today for a free consultation and additional information on how we can meet your iron works needs.
      p.text-muted The company has grown with the city, and as the iron works needs of Boston and New England have changed and expanded, so have the service offerings of Boston Iron Works. In addition to the custom fabrication and maintenance of gates, fences, railings, and stairs systems, the company provides fire escape certification, inspection, maintenance, and repair. These and other service offerings meet or exceed OSHA health and safety regulations. Contact Boston Iron Works today for a free consultation and additional information on how we can meet your iron works needs.